

.navbar{
    width: 1890px;
    height: 100px;
    background-color: white;

}

h1{
   display: inline;
}

.top-logo{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

.task-section{
    width: 1100px;
    margin-top: 50px;
    padding-top: 8px;
    margin-left: 95px; 
    padding-left: 40px;
    border: 1px solid rgb(175, 174, 174);
    border-radius:3px;
    background-color: white;
    
}

.to-do{
    width:1100px;
    margin-top:1px;
    padding-top: 8px;
    margin-left: 95px; 
    padding-left: 40px;
    border: 1px solid rgb(175, 174, 174);
    border-radius:3px;
    background-color: white;
}

.task{
    color: white;
    display: inline-block;
    width: 70px;
    height: 25px;
    border:1px blue;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
    background-color:cornflowerblue;

}

.section{
    color: gray;
    display: inline-block;
    width: 80px;
    height: 25px;
    border:1px solid gray;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
    
}

h2{
    margin-left: 20px;
}

.lists{
    margin-left:20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  .editorial{
  color: white;
    display: inline-block;
    width: 60px;
    height: 20px;
    border:1px blue;
    border-radius: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
    background-color:cornflowerblue;
}

.goals{
    color: white;
      display: inline-block;
      width: 60px;
      height: 20px;
      border:1px blue;
      border-radius: 10px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 13px;
      text-align: center;
      background-color:blueviolet;
}

.recruit{
    color: white;
      display: inline-block;
      width: 60px;
      height: 20px;
      border:1px blue;
      border-radius: 10px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 13px;
      text-align: center;
      background-color:rgb(49, 219, 72);
}

.mobile{
    color: white;
      display: inline-block;
      width: 60px;
      height: 20px;
      border:1px blue;
      border-radius: 10px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 13px;
      text-align: center;
      background-color:rgb(221, 112, 48);
}

.website{
    color: white;
      display: inline-block;
      width: 60px;
      height: 20px;
      border:1px blue;
      border-radius: 10px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 13px;
      text-align: center;
      background-color:rgb(226, 63, 177);
}

.sales{
    color: white;
      display: inline-block;
      width: 60px;
      height: 20px;
      border:1px blue;
      border-radius: 10px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 13px;
      text-align: center;
      background-color:rgb(56, 117, 64);
}